{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block main %}


<br><br>
<br><br> <br><br> <br><br>  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font face="Comic Sans MS" size="100" color="white">TALK-TO-US</font>
<br>
<br>
  <div class="text-box">
     <a href="{{ url_for('messenger') }}" class="btn btn-white btn-animate">DR.Bot</a>
  </div>

{% endblock %}
